<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.forum.mapper.ConstantsMapper">

    <select id="getConstants" parameterType="map" resultType="string">
        SELECT extra_map FROM `constants` where type = #{type}
    </select>
</mapper>