<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.forum.mapper.heromapper.TalentMapper">
    <resultMap id="BaseResultMap" type="com.example.forum.entity.Talent">
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="img" jdbcType="VARCHAR" property="img" />
        <result column="desc" jdbcType="VARCHAR" property="desc" />
        <result column="key" jdbcType="VARCHAR" property="key" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="basic" jdbcType="DOUBLE" property="basic" />
        <result column="basicType" jdbcType="VARCHAR" property="basicType" />
        <result column="heroLevelEach" jdbcType="DOUBLE" property="heroLevelEach" />
        <result column="extraTitle" jdbcType="VARCHAR" property="extraTitle" />
        <result column="inputNum" jdbcType="DOUBLE" property="inputNum" />
        <result column="inputDesc" jdbcType="VARCHAR" property="inputDesc" />
        <result column="extraDamage" jdbcType="DOUBLE" property="extraDamage" />
        <result column="inputString" jdbcType="VARCHAR" property="inputString" />
        <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
    </resultMap>


    <insert id="addTalent" parameterType="com.example.forum.entity.Talent">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sun Sep 25 17:41:03 UTC 2022.
        -->
        insert into talent (`name`, `img`, `desc`,
        `key`, `type`, `basic`, `basicType`,
        `heroLevelEach`, `extraTitle`, `inputNum`,
        `inputDesc`, `inputString`, `updateDate`
        )
        values (#{name,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR},
        #{key,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{basic,jdbcType=DOUBLE}, #{basicType,jdbcType=VARCHAR},
        #{heroLevelEach,jdbcType=DOUBLE}, #{extraTitle,jdbcType=VARCHAR}, #{inputNum,jdbcType=DOUBLE},
        #{inputDesc,jdbcType=VARCHAR}, #{inputString,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="getAllTalent" parameterType="map" resultType="com.example.forum.entity.Talent">
        SELECT * FROM `talent`
    </select>
</mapper>
